<!-- <p>Form values: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>--> 
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <!-- ====radio buttons====  -->

  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;">I am a: </label>

    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="male"
        formControlName="gender"
      />Male
    </label>

    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="female"
        formControlName="gender"
      />Female
    </label>
  </div>

  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('email').errors &&
          registerForm.get('email').touched 
      }"
      type="email"
      class="form-control"
      placeholder="Email"
      formControlName="email"
    />
    <div
      class="invalid-feedback"
      *ngIf=" 
        registerForm.get('email').touched &&
        registerForm.get('email').hasError('required') 
      "
    >
      Email required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('fullname').errors &&
          registerForm.get('fullname').touched
      }"
      class="form-control"
      placeholder="Full name"
      formControlName="fullname"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('fullname').touched &&
        registerForm.get('fullname').hasError('required')
      "
    >
      Full Name required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('dateOfBirth').errors &&
          registerForm.get('dateOfBirth').touched
      }"
      class="form-control"
      placeholder="Date of Birth"
      formControlName="dateOfBirth"
      type="text" bsDatepicker [bsConfig]= "bsConfig"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('dateOfBirth').touched &&
        registerForm.get('dateOfBirth').hasError('required')
      "
    >
      Date of Birth is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('address').errors && registerForm.get('address').touched
      }"
      class="form-control"
      placeholder="Address"
      formControlName="address"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('address').touched &&
        registerForm.get('address').hasError('required')
      "
    >
      City is required
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('country').errors &&
          registerForm.get('country').touched
      }"
      class="form-control"
      placeholder="country"
      formControlName="country"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('country').touched &&
        registerForm.get('country').hasError('required')
      "
    >
      Country is required
    </div>
  </div>

  <!--<div class="form-group">
    <label for="favouriteValue">What is your favourite value?</label>
    <select class="form-control" id="favouriteValue">
      <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
    </select>
  </div>-->

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      "
    >
      Password is required
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
      Password must have at least 4 characters
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched
      "
    >
      Password must less than 8 characters
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched) ||
          (registerForm.get('confirmPassword').touched &&
            registerForm.hasError('mismatch'))
      }"
      class="form-control"
      placeholder="confirm Password"
      formControlName="confirmPassword"
    />

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Password is required
    </div>

    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched
      "
    >
      Password must match
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>

<!-- <p>Form values: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>--> 
