@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.products-card {
    width: 170px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.products-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 0px;
    background: #f0f0f0;
}

.products-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.products-details {
    padding: 30px;
}

.products-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.products-details h6 a {
    font-weight: 50;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.products-details h6 a:hover {
    color: #fbb72c;
}


.products-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.products-bottom-details div {
    float: left;
    width: 50%;
}

.products-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.products-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.products-links {
    text-align: right;
}

.products-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.products-links a:hover {
    color: #fbb72c;
}