<div class="container-fluid">
  <div class="row" *ngIf="cart.length != 0">
      <aside class="col-lg-9">
          <div class="card">
              <div class="table-responsive">
                  <table class="table table-borderless table-shopping-cart">
                      <thead class="text-muted">
                          <tr class="small text-uppercase">
                              <th scope="col">Product</th>
                              <th scope="col" width="120">Quantity</th>
                              <th scope="col" width="120">Price</th>
                              <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let cartitems of cart">
                              <td>
                                  <figure class="itemside align-items-center">
                                      <div class="aside"><img src={{cartitems.url}} class="img-sm"></div>
                                      <figcaption class="info"> <a class="title text-dark" data-abc="true">{{cartitems.productName}}</a>
                                          <p class="text-muted small">Brand: JBL <br> Item Left: {{cartitems.itemLeft}} </p>
                                      </figcaption>
                                  </figure>
                              </td>
                              <td> <input id="quantity-{{cartitems.productId}}" type="number" min="1" max="{{cartitems.itemLeft}}" [(ngModel)]="cartitems.quantity"  required placeholder="1" >
                              <td>
                                  <div class="price-wrap"> <var class="price">{{cartitems.price | currency:'Rs: '}}</var> <small class="text-muted"> discount: {{cartitems.discount}}%  </small> </div>
                              </td>
                              <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip" data-abc="true"></a> <a href="" class="btn btn-primary" data-abc="true"> Remove</a> </td>
                          </tr>         
                      </tbody>
                  </table>
              </div>
          </div>
      </aside>
      <aside class="col-lg-3">
            <div class="card">
              <div class="card-body">
                  <dl class="dlist-align">
                      <dt>Total price:</dt>
                      <dd class="text-right ml-3">{{gettotal() | currency:'Rs: '}}</dd>
                  </dl>
                  <dl class="dlist-align">
                      <dt>Discount:</dt>
                      <dd class="text-right text-danger ml-3">{{getdiscount() | currency:'Rs: '}}</dd>
                  </dl>
                  <dl class="dlist-align">
                      <dt>Total:</dt>
                      <dd class="text-right text-dark b ml-3"><strong>{{getgrandtotal() | currency:'Rs: '}}</strong></dd>
                  </dl>
                  <hr>
                         <a  class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a> 
                         <a href="#" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
              </div>
          </div>
      </aside>
  </div> 
</div>
<div  *ngIf="cart.length == 0">    
    <img src="https://i.pinimg.com/originals/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038.png" class="center">
</div>
 